<h1>Welcome to Survey Monkey</h1>
  <div class="container">
    <ul>
      <li><%= @creator.name %></li>
      <li><%= @creator.email %></li>
    </ul>
  </div>

  <a href="/creator/<%@creator.id%>/edit">Edit</a>

