<h1>Survey Chimp</h1>
<h3>Welcome</h3>




  <a href="/home/survey"><button type="button">Create Survey</button></a>
  <a href="/home/all"><button type="button">View All Survey</button></a>

<footer>&copy; Banana, Inc.</footer>


