<div class="container">

      <h1>Login to Survey Chimp!!</h1>
      <form method="post" action="/home/new">
        <p><input type="text" name="login" value="" placeholder="Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <!-- Possible implimintation later -->
          <!-- <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label> -->

        <p><input type="submit" value="Login"></p>
      </form>
</div>
