<div class="container">
  <h1>Login to Survey Chimp!!</h1>
  <form method="post" action="/login">
    <p><input type="text" name="login" value="" placeholder="Email"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p><input type="submit" value="Login"></p>
  </form>
</div>
