<h2>New User</h2>
<div class="container">
  <h1>Sign up for Survey Chimp!!</h1>
  <form method="post" action="/sign_up">
    <p><input type="text" name="name" value="" placeholder="Name Here"></p>
    <p><input type="text" name="email" value="" placeholder="E-mail Here"></p>
    <p><input type="password" name="password_hash" value="" placeholder="Password"></p>
    <p><input type="submit" value="Sign Up"></p>
  </form>
</div>




